<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag  'application', media: 'all' %>

    <title>Planfinancial</title>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-dollar"></i> <span>PlanFinancial!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />
            <%= render partial: 'layouts/shared_default/menu' %>
            <%= render partial: 'layouts/shared_default/menu_footer.html.erb'  %>
          </div>
        </div>

        <!-- top navigation -->
          <%= render partial: 'layouts/shared_default/top_navigation' %>

        <!-- page content -->
          <%= yield %>
        <!-- /page content -->

        <!-- footer content -->
          <%= render partial: 'layouts/shared_default/footer' %>
        <!-- /footer content -->
      </div>
    </div>
    <%= javascript_include_tag 'application', media: 'all' %>
  </body>
</html>
